

<div class="container" style="max-width: 60%;">
  <div class="col-xs-12" >
    <form action="git_srch/go">
      <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </div>
    </form>  
  </div>
</div>